<!DOCTYPE html>
<html ng-app = "MenuCategoriesApp">
<head>
	<title>Using $http Service</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<style type="text/css">
		body {font-size: 1.2em;}
	</style>
</head>
<body>
<h1>Using $http Service</h1>
<div ng-controller="MenuCategoriesController as menu">
	<h3>List of Menu Categories</h3>
	<ul>
		<li ng-repeat="category in menu.categories">
			(<a href="" ng-click="menu.logMenuItems(category.short_name)">{{category.short_name}}</a>)
			{{category.name}}
		</li>
	</ul>
</div>
</body>
</html>
